/* Styles for the App container */
* {
    margin: 0;
    padding: 0;

}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f1400a; 
  }
.App {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-color: rgb(67, 128, 109);
}

/* Styles for the weather app container */
.weather-app {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 350px;
    min-height: 440px;
    background-color:rgb(26, 32, 28);
    text-align: center;
    margin: 0px auto;
    border-radius: 10px;
    padding-bottom: 32px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);

}

/* Styles for the city search container */
.city.search {
    width: 80%;
}

/* Styles for the city input */
.city {

    border: 2px solid #ccc;
    border-radius: 20px;
    font-size: 16px;
    background-color: #ccc;
    padding: 6px 30px 6px 30px;
    -webkit-transition:width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    color: #d81c1c;
    outline: none;
}

/* Styles for the placeholder text */
.city::placeholder {
    color: #d81c1c;
}
.city-name{
    font-size: 1.5rem;
    color:#d81c1c;
    margin: 15px 0px 8px;
}
.date{
    font-size: 1.50em;
    font-weight: 500;
    color: rgb(39, 173, 122);
}
.icon-temp{
    display: flex;
    font-size: 3rem;
    font-weight: 700;
    color: aquamarine;
    text-align: center;
    align-items: center;
}
.deg{
    font-size: 1.3rem;
    vertical-align: super;
}
.des-wind{
    font-weight: 500;
    color:rebeccapurple ;
    font-size: 22px;
    margin-top:10px;
}
.des-wind .second-p{
    margin-top: 10px;
}


    .error-messages {
        display: block;
        text-align: center;
        color: rgb(255, 51, 0);
        font-size: 24px;
        margin-top: auto;
        background-color: rgba(15, 214, 138, 0.1); /* Light orange background */
        padding: 10px 20px; /* Add padding for better readability */
        border-radius: 5px; /* Rounded corners */
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    }
    







